.bullet {
	background-color: var(--mui-palette-grey-900);
	opacity: 1;
}

.active-bullet {
	background-color: var(--mui-palette-grey-700);
	opacity: 1;
}

.bullet-wrapper {
	position: relative;
	margin-top: 1rem;
}
  